<div class="container" style="padding: 20px;">
    <div class="row">
        <div class="col-sm-2" style="text-align: left;" id="img_logo">
        <a href="/"><img src="/img/logo" width="100" height="100" /></a>
    </div>
    <div class="col-sm-6" style="text-align: left;">
        <h1 style="font-family: 'Roboto'; font-weight: 570; color: #888886;">
            EVALR ⛑️
        </h1>
        <h4 style="font-family: 'Roboto'; color: #888886; margin-top: -5px;">
            Evaluacion de Riesgos CUCEI
        </h4>
    </div>
</div>
</div>
<style>
#img_logo {
    border-right: 2px solid #b1b1b1;
    border-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    )
    1;
    border-bottom: 0;
    height: 100px;
}
</style>