<h2>Giro</h2>
<hr />
<div
  class="form-group"
  onclick="hideIfSelected('otros',false,'isOtro',['otro_giro']);"
>
  <label for="giro">Selecciona el giro de la empresa</label><br />

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="radio"
        id="transformacion"
        name="giro"
        value="transformacion"
      />
    </span>
    <label class="form-control" for="transformacion"
      >Industrias de la Transformacion</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="radio" id="comercio" name="giro" value="comercio" />
    </span>
    <label class="form-control" for="comercio">Comercio</label><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="radio" id="servicios" name="giro" value="servicios" />
    </span>
    <label class="form-control" for="servicios"
      >Servicios para Empresas, Personas y el Hogar</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="radio" id="construccion" name="giro" value="construccion" />
    </span>
    <label class="form-control" for="construccion"
      >Industria de la Construccion</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="radio" id="transportes" name="giro" value="transportes" />
    </span>
    <label class="form-control" for="transportes"
      >Transportes y Comunicaciones</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="radio" id="comunales" name="giro" value="comunales" />
    </span>
    <label class="form-control" for="comunales"
      >Servicios Sociales y Comunales</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="radio" id="agricultura" name="giro" value="agricultura" />
    </span>
    <label class="form-control" for="agricultura"
      >Agricultura, Ganaderia, Silvicultura, Pesca y Caza</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="radio" id="extractivas" name="giro" value="extractivas" />
    </span>
    <label class="form-control" for="extractivas">Industrias Extractivas</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="radio" id="electrica" name="giro" value="electrica" />
    </span>
    <label class="form-control" for="electrica"
      >Industria Electrica y Captacion y Suministro de agua potable</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="radio" id="otros" name="giro" value="otros" />
    </span>
    <label class="form-control" for="otros">Otros</label><br />
  </div>
</div>
<div class="form-group" id="isOtro" style="display: none;">
  <label for="giro">Escriba el giro de su empresa?</label><br />
  <input
    type="text"
    class="form-control"
    id="otro_giro"
    name="otro_giro"
    placeholder=""
  />
</div>
