<div class="row justify-content-center">
  <div class="col-xl-7 col-lg-12 col-md-9 ">
      <div class="card o-hidden border-0 shadow-lg my-5 mt-n5">
          <div class="card-header py-3 text-center" style="background-color: #bf1e2e;">
            <h4 class="m-0 text-white">Giro</h4>
          </div>
          <div class="card-body p-0">
              <div class="row justify-content-center">
                  <div class="col-lg-7 my-auto">
                      <div class="p-5">
                          <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-4">Selecciona el giro de la empresa</h1>
                          </div>

                          <div class="form-group">

                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text bg-gradient-danger">
                                <input type="radio" id="transformacion" name="giro" value="Industrias de transformación" required/>
                                </div>
                              </div>
                              <label class="form-control" for="transformacion">Industrias de la Transformacion</label>
                            </div>

                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text bg-gradient-danger">
                                  <input type="radio" id="comercio" name="giro" value="Comercio" />
                                </div>
                              </div>
                              <label class="form-control" for="comercio">Comercio</label>
                            </div>

                            <!-- radio input of Servicios para Empresas, Personas y el Hogar -->
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text bg-gradient-danger">
                                  <input type="radio" id="servicios" name="giro" value="Servicios para empresas, personas y el hogar" />
                                </div>
                              </div>
                              <label class="form-control" for="servicios">Servicios para Empresas, Personas y el Hogar</label>
                            </div>

                            <!-- radio input of Industria de la Construccion -->
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text bg-gradient-danger">
                                  <input type="radio" id="construccion" name="giro" value="Industria de la construcción" />
                                </div>
                              </div>
                              <label class="form-control" for="construccion">Industria de la Construccion</label>
                            </div>

                            <!-- radio input of Transportes y Comunicaciones -->
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text bg-gradient-danger">
                                  <input type="radio" id="transportes" name="giro" value="Transportes y comunicaciones" />
                                </div>
                              </div>
                              <label class="form-control" for="transportes">Transportes y Comunicaciones</label>
                            </div>

                            <!-- radio input of Servicios Sociales y Comunales -->
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text bg-gradient-danger">
                                  <input type="radio" id="comunales" name="giro" value="Servicios Sociales y Comunales" />
                                </div>
                              </div>
                              <label class="form-control" for="comunales">Servicios Sociales y Comunales</label>
                            </div>

                            <!-- radio input of Agricultura, Ganaderia, Silvicultura, Pesca y Caza -->
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text bg-gradient-danger">
                                  <input type="radio" id="agricultura" name="giro" value="Agricultura, ganadería, silvicultura, pesca y caza" />
                                </div>
                              </div>
                              <label class="form-control" for="agricultura">Agricultura, Ganaderia, Silvicultura, Pesca y Caza</label>
                            </div>

                            <!-- radio input of Industrias Extractivas -->
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text bg-gradient-danger">
                                  <input type="radio" id="extractivas" name="giro" value="Industrias extractivas" />
                                </div>
                              </div>
                              <label class="form-control" for="extractivas">Industrias Extractivas</label>
                            </div>

                            <!-- radio input of Industria Electrica y Captacion y Suministro de agua potable -->
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text bg-gradient-danger">
                                  <input type="radio" id="electrica" name="giro" value="Industria eléctrica y captación y suministro de agua potable" />
                                </div>
                              </div>
                              <label class="form-control" for="electrica">Industria Electrica y Captacion y Suministro de agua potable</label>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<script>
  function hideIfSelected(toCheck, hide, toHide, toReset) {
    if (document.getElementById(toCheck).checked) {
      document.getElementById(toHide).style.display = hide
        ? "none"
        : "block";
    } else {
      document.getElementById(toHide).style.display = hide
        ? "block"
        : "none";
    }
    resetInputs(toReset);
  }
  function resetInputs(toReset) {
    toReset.forEach((element) => {
      if (document.getElementById(element).type == "radio") {
        document.getElementById(element).checked = false;
      } else {
        document.getElementById(element).value = "";
      }
    });
  }
</script>
