<h2>Información del Inmueble</h2>
<hr />
<div class="form-group">
  <label for="mtrs">Metros cuadrados de construcción</label>
  <input
    type="number"
    min="0"
    class="form-control"
    id="mtrs"
    name="mtrs"
    placeholder="Ingrese el valor en metros cuadrados"
    required
  />
</div>

<div class="form-group">
  <label for="niveles">Niveles</label>
  <input
    type="number"
    min="0"
    class="form-control"
    id="niveles"
    name="niveles"
    placeholder="Ingrese los niveles del establecimiento"
    required
  />
</div>

<div class="form-group">
  <label for="aforo">Aforo</label>
  <input
    type="number"
    min="0"
    class="form-control"
    id="aforo"
    name="aforo"
    placeholder="Ingrese el aforo del establecimiento"
    required
  />
</div>

<div
  class="form-group"
>
  <label for="#">Dispositivos de Seguridad</label><br />

  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="alarma" name="dispositivo" value="alarma" />
    </span>
    <label class="form-control" for="alarma">Sistema de Alarma</label><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="extintores"
        name="dispositivo"
        value="extintores"
      />
    </span>
    <label class="form-control" for="extintores">Extintores</label><br />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="sensor_gas"
        name="dispositivo"
        value="sensor_gas"
      />
    </span>
    <label class="form-control" for="sensor_gas">Sensores de Gas</label><br />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="sensor_humo"
        name="dispositivo"
        value="sensor_humo"
      />
    </span>
    <label class="form-control" for="sensor_humo">Sensores de Humo</label><br />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="sensor_humedad"
        name="dispositivo"
        value="sensor_humedad"
      />
    </span>
    <label class="form-control" for="sensor_humedad">Sensores de Humedad</label
    ><br />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="proteccion_personal"
        name="dispositivo"
        value="proteccion_personal"
      />
    </span>
    <label class="form-control" for="proteccion_personal"
      >Protección Personal</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="interruptores"
        name="dispositivo"
        value="interruptores"
      />
    </span>
    <label class="form-control" for="interruptores">Interruptores</label><br />
  </div>
</div>

<div
  class="form-group"
>
  <label for="#">Tipos de señalamientos</label><br />

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="senales_prohibicion"
        name="senal"
        value="senales_prohibicion"
      />
    </span>
    <label class="form-control" for="senales_prohibicion"
      >Señales de prohibicion</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="senales_obligacion"
        name="senal"
        value="senales_obligacion"
      />
    </span>
    <label class="form-control" for="senales_obligacion"
      >Señales de obligación para la seguridad de tus trabajadores</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="senales_advertencia"
        name="senal"
        value="senales_advertencia"
      />
    </span>
    <label class="form-control" for="senales_advertencia"
      >Señales de advertencia en tus instalaciones</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="senales_auxilio"
        name="senal"
        value="senales_auxilio"
      />
    </span>
    <label class="form-control" for="senales_auxilio"
      >Señales de auxilio necesarias en el lugar de trabajo</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="senales_equipos"
        name="senal"
        value="senales_equipos"
      />
    </span>
    <label class="form-control" for="senales_equipos"
      >Señales de equipos contra incendios</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="senales_luminosas"
        name="senal"
        value="senales_luminosas"
      />
    </span>
    <label class="form-control" for="senales_luminosas">Señales luminosas</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="senales_acusticas"
        name="senal"
        value="senales_acusticas"
      />
    </span>
    <label class="form-control" for="senales_acusticas">Señales acústicas</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input
        type="checkbox"
        id="senales_balizamiento"
        name="senal"
        value="senales_balizamiento"
      />
    </span>
    <label class="form-control" for="senales_balizamiento"
      >Señales balizamiento</label
    ><br />
  </div>
</div>

<div class="form-inline">
  <label for="inp_medidas">Medidas de seguridad</label>
  <br />
  <input
    type="text"
    class="form-control"
    id="inp_medidas"
    name="inp_medidas"
    placeholder="Ingresa las medidas de seguridad"
    style="width: 80%;"
  />
  <button type="button" onclick="newMedida()" style="width: 19%;" class="btn">
    Añadir
  </button>
  <ul id="list"></ul>
</div>

<script>
  function newMedida() {
    var li = document.createElement("li");
    var medidasValue = document.getElementById("inp_medidas").value;

    var input = document.createElement("input");
    input.type = "text";
    input.className = "form-control";
    input.value = medidasValue;
    input.readOnly = true;
    input.name = "medidas";

    li.appendChild(input);
    if (medidasValue === "") {
      alert("Agregue al menos una medida de seguridad");
    } else {
      document.getElementById("list").appendChild(li);
    }
    document.getElementById("inp_medidas").value = "";
  }
</script>

<div class="form-group">
  <label for="#">Recursos Materiales</label><br />

  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="materia_prima" name="material" value="materia_prima" />
    </span>
    <label class="form-control" for="materia_prima">Materia Prima</label><br />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="maquinaria" name="material" value="maquinaria" />
    </span>
    <label class="form-control" for="maquinaria">Maquinaria y/o Herramienta</label><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="bienes" name="material" value="bienes" />
    </span>
    <label class="form-control" for="bienes"
      >Bienes muebles y objetos de oficina</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="vehiculos" name="material" value="vehiculos" />
    </span>
    <label class="form-control" for="vehiculos">Vehículos</label><br />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="quimicos" name="material" value="quimicos" />
    </span>
    <label class="form-control" for="quimicos">Productos Químicos</label><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="energia" name="material" value="energia" />
    </span>
    <label class="form-control" for="energia">Energía y Combustible</label><br />
  </div>
</div>

<div class="form-group">
  <label for="#"
    >¿Qué riesgos consideras que pudiera tener tu giro empresarial? </label
  ><br />
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="metodos_peligrosos" name="riesgo" value="metodos_peligrosos" />
    </span>
    <label class="form-control" for="metodos_peligrosos"
      >Métodos, materiales o procedimientos peligrosos</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="defectos" name="riesgo" value="defectos" />
    </span>
    <label class="form-control" for="defectos">Defectos de los agentes</label><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="publicos" name="riesgo" value="publicos" />
    </span>
    <label class="form-control" for="publicos">Peligros públicos</label><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="medio_ambiente" name="riesgo" value="medio_ambiente" />
    </span>
    <label class="form-control" for="medio_ambiente">Peligros del medio ambiente</label
    ><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="colocacion" name="riesgo" value="colocacion" />
    </span>
    <label class="form-control" for="colocacion">Peligros por la colocación</label><br />
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="indumentaria" name="riesgo" value="indumentaria" />
    </span>
    <label class="form-control" for="indumentaria"
      >Peligros de indumentaria y vestido</label
    ><br />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="protegido_inadecuadamente" name="riesgo" value="protegido_inadecuadamente" />
    </span>
    <label class="form-control" for="protegido_inadecuadamente">Protegido inadecuadamente</label><br />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="fisico" name="riesgo" value="fisico" />
    </span>
    <label class="form-control" for="fisico">Riesgo físico, s.c.e.</label><br />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="otra" name="riesgo" value="otra" />
    </span>
    <label class="form-control" for="otra">Otra clasificación</label><br />
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" id="no_especificado" name="riesgo" value="no_especificado" />
    </span>
    <label class="form-control" for="no_especificado">No especificado</label><br />
  </div>
</div>
