<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EVALR Empresa</title>

    <!-- Custom fonts for this template-->
    <link href="/font_awesome" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/sb-admin-css" rel="stylesheet">

</head>

<body class="bg-gradient-white">

    <header class="page-header page-header-dark bg-gradient-danger ">
        <div class="container-xl px-4 pb-5">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title text-white d-inline"><%= empresa.razon_social %></h1>
                        <div class="page-header-subtitle h5 pl-2 pb-4 font-weight-bold d-inline" style="color: #ffc7cd;"><%= empresa.giro %></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="row justify-content-center pt-n5 pb-4">
        <div class="col-xl-7 col-lg-12 col-md-9 ">
            <div class="card o-hidden border-0 shadow-lg my-5 mt-n5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center my-auto">

                      <!-- rfc card with border danger -->
                      <div class="col-xl-3 pl-5 py-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">RFC</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= empresa.rfc %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>

                      <!-- riesgo card with border danger -->
                      <div class="col-xl-2 py-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Riesgo</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= empresa.riesgo %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>

                      <!-- estatus de inspeccion card with border danger -->
                      <div class="col-xl-3 py-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Estatus de inspección</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= inspeccion.estatus %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>

                      <!-- fecha de inspeccion card with border danger -->
                      <div class="col-xl-4 pr-5 py-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Fecha de inspección</div>
                                        <% const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio","Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre"]; %>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= (inspeccion.fecha.getDate()+1) +"-"+ monthNames[inspeccion.fecha.getMonth()] +"-"+ (inspeccion.fecha.getFullYear())  %></div>
                                        
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                              
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pb-4">
      <div class="col-xl-7 col-lg-12 col-md-9 ">
          <div class="card o-hidden border-0 shadow-lg my-5 mt-n5">
              <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row justify-content-center my-auto">

                    <div class="col py-5 text-center">
                        <a href="/"><img src="/img/logo" alt="" ></a>
                    </div>

                    <div class="vr"></div>

                    <div class="col my-auto">

                      <h1 class="h4 text-gray-900 mb-4">Analisis de la empresa</h1>

                      <p class="pr-5">
                        Se ha realizado un análisis estadistico de la empresa con base en la información que se proporcionó en el formulario  
                        para determinar el riesgo de la misma.
                        Este porcentaje equivale a la cantidad de empleados que estan en riesgo.
                      </p>

                      <p class="pr-5">
                        Con ayuda de proteccion civil y bomberos de Zapopan se agendara una inspección de la empresa en relacion con este riesgo.
                        Los datos de la misma se encuentran en la parte superior de la página.
                      </p>

                      <a href="/">
                        <button type="button" class="btn btn-danger btn-sm">
                          Regresar a la pagina principal
                        </button>
                      </a>

                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="row justify-content-center pb-4">
        <div class="col-xl-7 col-lg-12 col-md-9 ">
            <div class="card o-hidden border-0 shadow-lg my-5 mt-n5">
                <div class="card-header py-3 text-center" style="background-color: #bf1e2e;">
                    <h4 class="m-0 text-white">Protección Civil Y Bomberos De Zapopan</h4>
                </div>
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center my-auto">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.5134221052836!2d-103.38722334924111!3d20.729974303218413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ad6fb2e72219%3A0x1f1bd4c8768977b!2sCoordinaci%C3%B3n%20Municipal%20De%20Protecci%C3%B3n%20Civil%20Y%20Bomberos%20De%20Zapopan%20(Base%201)%20Oficinas%20Administrativas!5e0!3m2!1sen!2smx!4v1635701487013!5m2!1sen!2smx" 
                        width="98%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/jquery"></script>
    <script src="/bootstrap"></script>

    <!-- Core plugin JavaScript-->
    <script src="/jquery-easing"></script>

    <!-- Custom scripts for all pages-->
    <script src="/sb-admin-js"></script>

</body>

</html>