<h2>Trabajadores</h2>
<hr />
<div class="form-group">
  <label for="trabajadores_masculinos">Numero de trabajadores Masculinos</label>
  <input
    type="number"
    min="0"
    class="form-control"
    id="trabajadores_masculinos"
    name="trabajadores_masculinos"
    placeholder="En caso de NO tener poner 0"
  />
</div>
<div class="form-group">
  <label for="trabajadores_femeninos">Numero de trabajadores Femeninos</label>
  <input
    type="number"
    min="0"
    class="form-control"
    id="trabajadores_femeninos"
    name="trabajadores_femeninos"
    placeholder="En caso de NO tener poner 0"
  />
</div>
<div class="form-group">
  <label for="">Rango de edad</label>
  <select class="form-control" name="rango_edad" id="edad">
    <option value="1">15-19</option>
    <option value="2">20-24</option>
    <option value="3">25-29</option>
    <option value="4">30-34</option>
    <option value="5">35-39</option>
    <option value="6">40-44</option>
    <option value="7">45-49</option>
    <option value="8">50-54</option>
    <option value="9">55-59</option>
    <option value="10">60-64</option>
    <option value="11">65-69</option>
  </select>
</div>
